/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  max-height: 100vh;
}

/* background */
body {
  display: flex;
}
.bebidas {
  background: url(../img/bebidas.jpg) no-repeat;
  background-position-x: center;
  background-color: black;
}

.cdm {
  background: url(../img/cdm.jpg) no-repeat;
  background-position-x: center;
  background-color: black;
}

.cf {
  background: url(../img/cafe.jpg) no-repeat;
  background-position-x: center;
  background-color: black;
}

.cha {
  background: url(../img/cha.jpg) no-repeat;
  background-position-x: center;
  background-color: black;
}

.doces {
  background: url(../img/doces.jpg) no-repeat;
  background-position-x: center;
  background-color: black;
}

.saladas {
  background: url(../img/saladas.jpg) no-repeat;
  background-position-x: center;
  background-color: black;
}

.tela {
  text-align: center;
  margin: auto;
  width: 428px;
  height: 927px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
  backdrop-filter: blur(4px);
}

ul {
  list-style: none;
}



/* FONTS */
h1, h2, h3, summary, .price {
  font-family: 'inner', inner;
  text-transform: uppercase;
  color: #F2F2F2;
}

/* HEADER */
header {
  padding: 32px 0;
  text-align: center;
}

header,
section {
  max-width: 249px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}

header h1 span {
  color: #995000;
}

header p {
  font-size: 14px;
  line-height: 16px;
  color: #F2F2F2;
}

/* SECTION */
section {
  margin-bottom: 24px;
}

section h2 {
  padding: 8px 16px;
  text-align: center;

  margin-bottom: 24px;
  font-size: 18px;
}

/* LISTA */
ul li {
  margin-bottom: 16px;
  display: flex;
  
}

li .details {
  max-width: 240px;
  text-align: left;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
}

.details p {
  color: #F2F2F2;
  display: inline-flex;
  font-size: 14px;
  line-height: 21px;
  line-break: normal;
}
strong {
  margin-left: auto;
}